<a href="https://colab.research.google.com/github/nathanpaul423/NathanPaul-DataScience-Project/blob/main/DataViz_RamenRating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df = pd.read_csv('/content/drive/MyDrive/ramen-ratings.csv')

In [4]:
df.shape

(2580, 7)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   int64
 1   Brand     2580 non-null   object
 2   Variety   2580 non-null   object
 3   Style     2578 non-null   object
 4   Country   2580 non-null   object
 5   Stars     2580 non-null   object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 141.2+ KB

In [6]:
df.dtypes

Review #     int64
Brand       object
Variety     object
Style       object
Country     object
Stars       object
Top Ten     object
dtype: object

In [7]:
df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [8]:
df.describe(include=[np.object]).T

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.

        count unique     top  freq
Brand    2580    355  Nissin   381
Variety  2580   2413    Beef     7
Style    2578      7    Pack  1531
Country  2580     38   Japan   352
Stars    2580     51       4   384
Top Ten    41     38      \n     4

In [9]:
nonNumeric = df.index[df['Stars'] == 'Unrated'].tolist()
nonNumeric

[32, 122, 993]

In [10]:
df_a = pd.to_numeric(df['Stars'], errors='coerce')

In [11]:
mean = round(df_a.mean(),1)
mean

3.7

In [12]:
for i in nonNumeric:
  df.at[i,'Stars']=mean

In [14]:
df['Stars']=df['Stars'].astype('float')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   int64
 1   Brand     2580 non-null   object
 2   Variety   2580 non-null   object
 3   Style     2578 non-null   object
 4   Country   2580 non-null   object
 5   Stars     2580 non-null   float64
 6   Top Ten   41 non-null     object
dtypes: float64(1), int64(1), object(5)
memory usage: 141.2+ KB

# Counts - Categorical

In [23]:
df.groupby('Style')['Review #'].count().sort_values(ascending=False)

Style
Pack    1531
Bowl     481
Cup      450
Tray     108
Box        6
Bar        1
Can        1
Name: Review #, dtype: int64

In [24]:
df.groupby('Brand')['Review #'].count().sort_values(ascending=False)

Brand
Nissin             381
Nongshim            98
Maruchan            76
Mama                71
Paldo               66
                  ...
Liang Cheng Mai      1
Lipton               1
Samurai Ramen        1
Lishan               1
1 To 3 Noodles       1
Name: Review #, Length: 355, dtype: int64

In [26]:
df.groupby('Variety')['Review #'].count().sort_values(ascending=False).head(10)

Variety
Beef                             7
Chicken                          7
Artificial Chicken               6
Vegetable                        6
Yakisoba                         6
Miso Ramen                       5
Spicy Beef                       4
Curry Flavour Instant Noodles    4
Curry Udon                       4
Artificial Spicy Beef            4
Name: Brand, dtype: int64

In [28]:
df.groupby('Country')['Review #'].count().sort_values(ascending=False).head(10)

Country
Japan          352
USA            323
South Korea    309
Taiwan         224
Thailand       191
China          169
Malaysia       156
Hong Kong      137
Indonesia      126
Singapore      109
Name: Review #, dtype: int64

In [31]:
df.groupby(['Brand','Style'])['Review #'].count().sort_values(ascending=False)

Brand            Style
Nissin           Cup      165
                 Pack     121
                 Bowl      71
Mama             Pack      48
Nongshim         Pack      47
                         ...
Kim Ve Wong      Bowl       1
Sapporo Ichiban  Tray       1
Katoz            Pack       1
Kailo            Pack       1
1 To 3 Noodles   Pack       1
Name: Review #, Length: 489, dtype: int64