In [ ]:
import pandas as pd

In [ ]:
user_cols = ['user_id','age','gender','occupation','zip_code']
users = pd.read_table('http://bit.ly/movieusers', sep='|',names=user_cols, index_col='user_id')

In [ ]:
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [ ]:
users.shape

(943, 4)

In [ ]:
users.zip_code.duplicated()

user_id
1      False
2      False
3      False
4      False
5      False
       ...
939    False
940     True
941    False
942    False
943    False
Name: zip_code, Length: 943, dtype: bool

In [ ]:
#turns true and false, 0 and 1 respectively. then add 1's 
users.zip_code.duplicated().sum()

148

In [ ]:
#returns duplicates as a dataframe
users.duplicated()

user_id
1      False
2      False
3      False
4      False
5      False
       ...
939    False
940    False
941    False
942    False
943    False
Length: 943, dtype: bool

In [ ]:
users.duplicated().sum()

7

In [ ]:
#locating the rows that are duplicates

users[users.duplicated() == True]

         age gender occupation zip_code
user_id
496       21      F    student    55414
572       51      M   educator    20003
621       17      M    student    60402
684       28      M    student    55414
733       44      F      other    60630
805       27      F      other    20009
890       32      M    student    97301