<a href="https://colab.research.google.com/github/nathanpaul423/NathanPaul-DataScience-Project/blob/main/Data-Visualization-Projects/Ramen_Rating/DataViz_RamenRating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
os.getcwd()

'/content/drive'

In [ ]:
os.chdir('/content/drive/MyDrive')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/ramen-ratings.csv')

In [ ]:
df.dtypes

Review #     int64
Brand       object
Variety     object
Style       object
Country     object
Stars       object
Top Ten     object
dtype: object

In [ ]:
df[~df.applymap(np.isreal).all(1)]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [ ]:
df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [ ]:
df.groupby(['Style','Country'])['Brand'].count().sort_values(ascending=False)

Style  Country
Pack   South Korea      183
       Taiwan           181
       Japan            155
       USA              128
Bowl   Japan            126
                       ...
Pack   United States      1
Can    USA                1
Box    USA                1
       Indonesia          1
Bar    USA                1
Name: Brand, Length: 87, dtype: int64

In [ ]:
df.groupby('Brand')['Variety'].count().sort_values(ascending=False)

Brand
Nissin             381
Nongshim            98
Maruchan            76
Mama                71
Paldo               66
                  ...
Liang Cheng Mai      1
Lipton               1
Samurai Ramen        1
Lishan               1
1 To 3 Noodles       1
Name: Variety, Length: 355, dtype: int64